<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556116394721-ov2p3teae5ljh32ipibbpl292v6jpk7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556116394721-ov2p3teae5ljh32ipibbpl292v6jpk7g</string>
	<key>API_KEY</key>
	<string>AIzaSyANb-6532x50-chC96UOQiB3bo5iDBe-uQ</string>
	<key>GCM_SENDER_ID</key>
	<string>556116394721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.rendezvous</string>
	<key>PROJECT_ID</key>
	<string>hunt-d7d89</string>
	<key>STORAGE_BUCKET</key>
	<string>hunt-d7d89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556116394721:ios:05651a60687fc4a2deada0</string>
	<key>DATABASE_URL</key>
	<string>https://hunt-d7d89-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>